<ion-content>
  <div class="main_content_div">

    <div style="margin-top: 30% !important;">
      <ion-label class="head_lbl">Welcome</ion-label>
      <ion-label class="head_lbl1">Login to your account.</ion-label>

      <ion-input type="text" placeholder="Enter your username"></ion-input>

      <ion-input type="text" placeholder="Enter your password">
        <!-- <span class="end"><ion-icon name="eye-outline" slot="end" item-right></ion-icon></span> -->
      </ion-input>

     
      <ion-label class="forgot">Forgot Password?</ion-label>

      <ion-button expand="block">
        Login
      </ion-button>
      <ion-label class="register" (click)="goToRegister()">New to nVault? <span>create account</span></ion-label>
    </div>

   

  </div>
</ion-content>