

.main_content_div{
    width: 100%;
    padding: 20px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url('../../../assets/overlay3.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 62px;
    padding-right: 62px; 
 
    ion-label {
        display: block;
    }

    .scroll-content {
        overflow-y: hidden;
      }

    .head_lbl{

        font-family: FredokaOne !important;
        font-style: normal;
        font-weight: normal;
        font-size: 29px;
        line-height: 111.19%;
        color: #ffffff;
        letter-spacing: -0.01em;
        padding-bottom: 20px;


    }
    .head_lbl1{

        font-family: Comfortaa !important;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 150%;
        
        color: #FFFFFF;
        padding-bottom: 25px;
        
        
            }
            
    ion-select{
        height: 46px;
        margin-top: 19px;
        font-family: Comfortaa;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        margin-left: 4px;
        color: #000000;
        border-bottom: 1px solid #FFFFFF;
    }
    
    .register{
        text-align: center;
        font-size: 13px;
        font-family: FredokaOne !important;
        font-weight: 400;
        span{
            color: #01519A;
        }
        padding-top: 30px;
    }

    ion-button{
        --border-radius: 10px;
        height: 50px;
        margin-top: 30px;
        --background: #1F2E45;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
        font-family: IBMPlexSans !important;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
        text-transform: capitalize;

        span{
            text-align: right;
            align-content: flex-end;

        }
    }

    .bottom_div{
        text-align: center;
        font-size: 14px;
    }
}
