

<ion-content>

  <div class="main_content_div">
    

    <div style="margin-top: 30% !important;">
      <ion-label class="head_lbl">Welcome to nVault</ion-label>

      <ion-label class="head_lbl1">nVault is a financial service application incubated by Neptune Microfinance Bank, a CBN licensed financial institution.</ion-label>

      <ion-select placeholder="Select account type" mode="ios">
      
        <ion-select-option>Personal Account</ion-select-option>
        <ion-select-option>Business Account</ion-select-option>
      </ion-select>

      <ion-button  expand="block">
        Next <ion-icon name="chevron-forward-outline" slot="end" item-right></ion-icon>
      </ion-button>
      <ion-label class="register" >Need Help? <span>Talk to us</span></ion-label>
      </div>

  </div>

</ion-content>